data/*
!data/raw/
!data/processed/
data/raw/*
data/processed/*
!data/raw/sample.dat
assets/*
!assets/images/
assets/images/*
!assets/images/sample.png
**/__pycache__
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
build/
dist/
.VSCodeCounter/
backup*/
